<configuration>
	<connectionStrings>
		<add name="QLQAConnection"
			 connectionString="Server=TUNG-IT\MSSQL_EXP_2008R2; Database=QLQA; Integrated Security=True; MultipleActiveResultSets=True; TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>